body{
    display: flex;
    height: 800px;
    border: 2px red solid;
    flex-flow: row wrap;
    align-content: flex-start;
}
div{
width: 200px;
    height: 100px;
    background-color: orangered;
    border: 1px black solid;
    margin: 10px;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
}
#number20 {
    flex-grow: 2;
}