body{
    border: 1px red solid;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
div{
    width: 100px;
    height: 100px;
    background-color: orangered;
    border: 1px black solid;
    margin: 20px;
    font-weight: bold;
    text-align: center;
}