body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
div{
    height: 100px;
    border: 1px black solid;
    text-align: center;
    font-weight: bold;
}
#fone{
    background-color: orangered;
    width: 100%;
    max-width: 99.1%;
}
#ftwo{
    background-color: lightskyblue;
    width: 65.5%;
}
#fthree{
    background-color: limegreen;
    width: 33.5%;
}
#ffour{
    background-color: yellow;
    width: 49.5%;
}
#ffive{
    background-color: rebeccapurple;
    width: 49.5%;
}