*{
margin: 0;
    padding: 0;
}
body{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div{
    border: 2px black solid;
    height: 500px;
    width: 500px;
}
i{
    position: relative;
    left: 0;
    animation-name: movingball;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-play-state: running;
}
@keyframes movingball{
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 94%;
    }
    50% {
        top: 94%;
        left: 94%;
    }
    75% {
        top: 94%;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}