/*targets every P inside the div*/
.section_one>div p{
color: red;
    font-weight: bold;
}
/*targets the P that are direct children of div*/
.section_two>div>p{
    color: blue;
    font-weight: bold;
}
/*targets all P that are next siblings of div*/
.section_three>div~p{
    color: #82ee82;
    font-weight: bold;
}
/*targets the one sibling P directly after div*/
.section_four>div+p {
    color: yellow;
    font-weight: bold;
}