html {
    display: flex;
    justify-content: center;
}
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 600px;
    height: 200px;
    border: 2px red solid;
    justify-items: stretch;
}
#fone{
    /*order: 3;*/
    display: flex;
    /*justify-items: stretch;*/
    background-color: darkblue;
    width: 125px;
    height: 200px;

}
#ftwo{
    /*order: 1;*/
    background-color: blue;
    width: 400px;
    height: 100px;
flex-flow: row wrap;
    justify-items: stretch;
}
#fthree{
    /*order: 2;*/
    background-color: cornflowerblue;
    width: 400px;
    height: 100px;
}
